*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html , body{
    height: 100%;
    width: 100%;
}
.main{
    height: 85%;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 5vw 10vw;
}

#left{
    height: 100%;
    width:45%;
    background-color: #333;
    /* background-image: url(https://cdn.zeebiz.com/sites/default/files/2023/12/05/271516-animal.jpg); */
    background-size: cover;
}
#right{
    height: 100%;
    width:55%;
    /* background-color: red; */
    padding: 0 3vw;
 }
 #right h3{
    font-size: 30px;
 }
 #all-songs{
    background-color: black;
    height: 85%;
    margin-top: 30px;
 }
 .song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5a5a5a;
    padding: 15px 15px;
 }
 .song-card:hover{
    background-color: #464646;
 }

 .song-card:nth-last-child(1){
    border-bottom: 1px solid #5a5a5a
 }
 .song-card .part1 {
    display: flex;
    align-items: center;
    pointer-events: none;
 }
 .song-card img{
    height: 55px;
    width: 55px;
    margin-right: 20px;
 }
 .song-card h2{
    font-size: 20px;
 }
 .song-card h6{
    font-size: 16px;
 }
 #player{
    height: 15%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;

 }
 #player h3{
    background-color:#5a5a5a;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
 }
 #player h3{
    font-size: 24px;
 }
 #player h3:active{
    scale: 0.93;
 }